// vars
$keyBorder: .3vw double white;

// mixins
@mixin modal {
    display: none;
    position: fixed;
    padding-top: 10vw;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(61, 61, 61, 0.836);
}

@mixin closeChip {
    position: absolute;
    display: inline-block;
    left: 90%;
    top: 10%;
    font-size: 3vw;
    color: rgb(49, 49, 49);
    border-radius: 50%;
    &:hover{
        color: rgb(2, 2, 122);
        cursor: pointer;
        &:active {
            color: gold;
            text-shadow: 0 0 2vw rgb(82, 81, 81);
        }
    }
}

* {
    margin: 0;
}

#nav {
    background: white;
    color: rgb(42, 42, 94);
    border-bottom: .3vw double gold;
    overflow: hidden;
    transition: all .2s;
    > * {
        padding: 1.3vw 4vw;
        display: inline-block;
        border-left: .1vw solid navy;
        border-right: .1vw solid navy;
        transition: all .2s;
        &:hover, {
            background: rgb(209, 167, 59);
            cursor: pointer;
        }
    }
    #patchDrop {
        display: none;
        position: absolute;
        z-index: 7;
        background: rgba(255, 250, 250, 0.959);
        box-shadow: 0 .7vw 1vw darkslategray;
        margin-left: -4vw;
        margin-top: 1.3vw;
        .patchSelect{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .3vw;
            transition: all .3s;
            > span:first-child {
                margin-right: 2.1vw;
            }
            &:hover {
                color: seashell;
                background: #cc5500;
                text-shadow: 0 0 .2vw snow, 0 0 .4vw cornflowerblue;
            }
        }
        .deleteChip {
            // text-align: right;
            font-size: 1.6em;
            &:hover {
                color: rgb(214, 1, 1);
                text-shadow: 0 0 .3vw goldenrod;
            }
        }
    }
}

//modals

#eduModal {
    @include modal;
    #eduWrap{
        position: relative;
        margin: auto;
        padding: 2vw;
        width: 82%;
        height: auto;
        border-radius: 3em;
        color: rgb(51, 51, 51);
        background: white;
        #oscView{
            main{
                float: left;
                width: 40%;
                text-align: center;
            } 
            aside {
                float: right;
                width: 55%;
                div {
                    margin: .8vw;
                }
            }
            #pickOsc{
                clear: both;
            }
        }
        .closeChip {
            @include closeChip;
            left: 95%;
            top: 5%;
        }
    }
}


#editModal, #saveModal, #deleteModal {
    @include modal;
    .patchModal{
        position: relative;
        margin: auto;
        padding: 2vw;
        width: 40%;
        height: auto;
        border-radius: 3em;
        color: rgb(51, 51, 51);
        background: white;
        .modalContent {
            margin: 3vw auto;
            text-align: center;
            width: 80%;
            > * {
                display: block;
                margin: 2vw auto;
            }
        }
        h2 {
            margin-bottom: 3vw;
        }
        a {
            padding: 1vw 2vw;
            color: white;
            text-decoration: none;
            background: blue;
            border-radius: 1em;
            &:hover{
                box-shadow: inset 0 0 .7vw .2vw rgba(1, 1, 66, 0.582), inset 0 0 1vw rgb(2, 2, 109);
                cursor: pointer;
            }
        }
        input, select {
            font-family: inherit;
            font-size: 1.1em;
        }
        #deletePatch {
            background: red;
                &:hover{
                box-shadow: inset 0 0 .7vw .2vw rgb(128, 19, 0), inset 0 0 1vw rgb(122, 33, 17);
            }
        }
        .closeChip {
            position: absolute;
            display: inline-block;
            left: 90%;
            top: 10%;
            font-size: 3vw;
            color: rgb(49, 49, 49);
            border-radius: 50%;
            &:hover{
                color: rgb(2, 2, 122);
                cursor: pointer;
                &:active {
                    color: gold;
                    text-shadow: 0 0 2vw rgb(82, 81, 81);
                }
            }
        }
    }
}


//main
body {
    margin: 0;
    background: rgb(34, 34, 34);
    font-family: 'Averia Serif Libre', Helvetica, cursive;
    color: snow;
}


h1, h3 {
    margin: 1em auto;
    text-align: center;
}

#synthWrap > div {
    display: inline-block;
    margin: 1vw;
    border: .2vw solid white;
    padding: 1vw;
    h4 {
        margin: .3vw auto;
        border-bottom: .1vw solid white;
    }
    // input[type="range"] {
    //     transform-origin: bottom left;
    //     transform: rotate(-90deg);
    //     margin-left: 2em;
    // }
}

#patchWrap {
    margin: 2em auto;
    padding: 1em;
    width: 30%;
    border: .4vw groove oldlace;
    text-align: center;
    h3 {
        display: block;
        width: 40%;
        padding-bottom: .4vw;
        letter-spacing: .2vw;
        border-bottom: .1vw solid white;
    }
}

// #keyOver{
//     margin: 0 auto;
//     width: 59%;
//     height: 20.4vw;
//     position: absolute;
//     z-index: 3;
//     left: 20.5%;
//     background: linear-gradient(45deg, rgba(47, 79, 79, 0.767), rgba(53, 95, 95, 0.767));
// }

#keyMap {
    position: relative;
    font-size: 0;
    margin: 1em auto;
    padding-bottom: .1vw;
    width: 59%;
    height: 20vw;
    border-top: $keyBorder;
    border-right: $keyBorder;
    border-left: $keyBorder;
    div {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 8.74%;
        height: 100%;
        background: white;
        border: .1vw solid black;
        border-radius: 0 0 1.3vw 1.3vw;
        span {
            display: inline-block; 
            font-size: 3vw;
            color: rgb(211, 255, 124);
            text-shadow: 0 0 .2vw darkblue;
            margin: 4.5em auto 0 auto;
            width: 100%;
            text-align: center;
            z-index: 18;
        }
        .offNote {
            margin: 3em auto 0 auto;
            font-size: 2.4vw;
        }
    }
    .flat {
        z-index: 2;
        position: absolute;
        margin-left: -1.3vw;
        width: 2.4vw;
        height: 12vw;
        background: black;
    }
    .keyFill {
        background: linear-gradient(45deg, goldenrod,rgb(138, 171, 214)) !important;
    }
    .keyFillFlat {
        background: linear-gradient(76deg,rgb(90, 37, 43) 42%, rgb(107, 206, 194)) !important;
    }
}

#keyCheck {
    margin: 1em auto;
    width: 20%;
    sup {
        font-size: .2em;
        color: rgb(211, 255, 124);
        margin: 0 .4vw;
    }
}

#userTools {
    margin: 2em auto;
    width: 30%;
    #patchData {
        margin: 1em auto;
    }
}


#patchBtns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 1.3vw auto;
}

#piano {
    display: block;
    margin: 2em auto;
    max-width: 40%;
    height: auto;
    border-radius: 1em;
}

#adsr {
    margin: 2em auto;
    height: 20vw;
    width: 45vw;
}

#chartWrap, #chartCtrl {
    width: 70%;
    margin: 2em auto;
}


canvas {
    display: block;
    margin: 1em auto;
    /* transform: rotate(90deg); */
    border: 1px solid white;
}

#wave {
    display: block;
    margin: 1em auto;
}