// vars
$synthWidth: 63%;
$keyBorder: .3vw double white;
$rangeLabel: 2.1vw;

// mixins
@mixin modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(61, 61, 61, 0.836);
}

@mixin modalContent {
    position: relative;
    margin: auto;
    padding: 2vw;
    height: auto;
    border-radius: 1em;
    color: rgb(51, 51, 51);
    background: white;
}

@mixin closeChip {
    position: absolute;
    display: inline-block;
    left: 90%;
    top: 10%;
    font-size: 3vw;
    color: rgb(49, 49, 49);
    border-radius: 50%;
    &:hover{
        color: rgb(2, 2, 122);
        cursor: pointer;
        &:active {
            color: gold;
            text-shadow: 0 0 2vw rgb(82, 81, 81);
        }
    }
}


///globals

* {
    margin: 0;
}

body {
    margin: 0;
    background: rgb(34, 34, 34);
    font-family: 'Fira Sans Condensed', Helvetica, cursive;
    color: snow;
}


h1, h3 {
    margin: 1em auto;
    text-align: center;
}


input[type=range] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical; 
    width: $rangeLabel;
    height: 8em;
    &:focus{
        outline: none;
    }
}


.textOver{
    display: inline-block;
    margin: auto .4vw;
    > * {
        display: block;
    }
    label {
        width: initial !important;
        font-size: .8em;
        margin-top: .6em;
    }
    input[type=range]{
        margin: auto;
    }
}



/// selectors

#nav {
    background: white;
    color: rgb(42, 42, 94);
    border-bottom: .3vw double gold;
    overflow: hidden;
    transition: all .2s;
    > * {
        padding: 1.3vw 4vw;
        display: inline-block;
        border-left: .1vw solid navy;
        border-right: .1vw solid navy;
        transition: all .2s;
        &:hover, {
            background: rgb(209, 167, 59);
            cursor: pointer;
        }
    }
    #patchDrop {
        display: none;
        position: absolute;
        z-index: 7;
        background: rgba(255, 250, 250, 0.959);
        box-shadow: 0 .7vw 1vw darkslategray;
        margin-left: -4vw;
        margin-top: 1.3vw;
        .patchSelect{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .3vw;
            transition: all .3s;
            > span:first-child {
                padding: .4vw auto;
                width: 95%;
                // padding: .4vw 3vw .4vw .4vw;
            }
            &:hover {
                color: seashell;
                background: #cc5500;
                text-shadow: 0 0 .2vw snow, 0 0 .4vw cornflowerblue;
            }
        }
        .deleteChip {
            // text-align: right;
            font-size: 1.6em;
            margin-left: .3em;
            &:hover {
                color: rgb(214, 1, 1);
                text-shadow: 0 0 .3vw goldenrod;
            }
        }
    }
}

//modals

#eduModal {
    @include modal;
    padding-top: 4vw;
    #eduWrap {
        @include modalContent;
        width: 82%;
        main{
            float: left;
            text-align: center;
        }
        aside {
            float: right;
            text-align: right;
            margin-right: 3vw;
        }
        canvas {
            display: block;
        }
        label {
            display: inline-block;
            text-align: center;
            width: $rangeLabel;
        }
        #oscView {
            main{
                width: 40%;
                p {
                    margin: 3.5vw auto;
                }
            } 
            aside {
                width: 50%;
                div {
                    display: flex;
                    justify-content: space-between;
                    margin: .8vw;
                    padding: .5vw;
                    transition: all .1s;
                    button {
                        display: inline-block;
                        padding: 0;
                        width: 7vw;
                        height: 7vw;
                        border-radius: .7em;
                        div { 
                            border: .1vw solid black;
                            margin: auto;
                            width: 50%;
                            height: 50%;
                            box-shadow: 0 0 .3vw;
                        }
                    }
                    img {
                        width: 30vw;
                        height: auto;
                    }
                    #startSine>div{
                        border-radius: 50%;
                        background: blue;
                    }
                    #startTriangle>div{
                        width: 0;
                        height: 0;
                        border-top: none;
                        border-left: 2vw solid transparent;
                        border-right: 2vw solid transparent;
                        border-bottom: 4vw solid yellow;
                    }
                    #startSquare>div{
                        background: green;
                    }
                }
            }
            .oscSelect {
                border: .2vw solid rgb(0, 113, 151);
                border-radius: .3em;
                box-shadow: 0 0 .4vw darkslategray;
            }
        }
        #ampView, #filterEGView {
            main{
                width: 55%;
                #ampDetail, #filterDetail {
                    width: 70%;
                    margin: 2vw auto;
                }
                p {
                    margin: 2vw auto;
                }
            } 
            aside {
                width: 40%;
                div {
                    margin: 3vw auto;
                    padding: .5vw;
                }
                canvas {
                    border: .3vw double black;
                    transform: scale(1.3);
                    width: 80%;
                    height: auto;
                }
            }
        }
        #cutoffWrap{
            main {
                width: 50%;
                h1 {
                    margin: .2em auto;
                }
                h3{
                    margin: .2vw auto;
                }
                p {
                    margin: 1.1vw auto;
                    width: 70%;
                    .detail {
                        font-size: .7em;
                    }
                }
            }
            aside{
                width: 45%;
                div {
                    margin: 5vw auto;
                }
                canvas {
                    margin: auto;
                    border: .1vw solid black;
                    transform: scale(1.3);
                    width: 80%;
                }
            }
        }
        .continueSection{
            clear: both;
            text-align: right;
            span{
                display: inline-block;
                padding: 1.3vw;
                color: white;
                margin-top: 1vw;
                margin-right: 3vw;
                background: blue;
                border-radius: .8vw;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .spacebarEvent {
            width: 80%;
            border: .1vw solid black;
            border-radius: .7vw;
            box-shadow: 0 0 1vw;
            p {
                margin: 1.1vw auto;
            }
        }
        .closeChip {
            @include closeChip;
            left: 95%;
            top: 3%;
        }
        .note {
            font-size: .6em;
        }
    }
}


#editModal, #saveModal, #deleteModal {
    @include modal;
    padding-top: 10vw;
    .patchModal{
        @include modalContent;
        width: 40%;
        .modalContent {
            margin: 3vw auto;
            text-align: center;
            width: 80%;
            > * {
                display: block;
                margin: 2vw auto;
            }
        }
        h2 {
            margin-bottom: 3vw;
        }
        a {
            padding: 1vw 2vw;
            color: white;
            text-decoration: none;
            background: blue;
            border-radius: 1em;
            &:hover{
                box-shadow: inset 0 0 .7vw .2vw rgba(1, 1, 66, 0.582), inset 0 0 1vw rgb(2, 2, 109);
                cursor: pointer;
            }
        }
        input, select {
            font-family: inherit;
            font-size: 1.1em;
        }
        #deletePatch {
            background: red;
                &:hover{
                box-shadow: inset 0 0 .7vw .2vw rgb(128, 19, 0), inset 0 0 1vw rgb(122, 33, 17);
            }
        }
        .closeChip {
            position: absolute;
            display: inline-block;
            left: 90%;
            top: 10%;
            font-size: 3vw;
            color: rgb(49, 49, 49);
            border-radius: 50%;
            &:hover{
                color: rgb(2, 2, 122);
                cursor: pointer;
                &:active {
                    color: gold;
                    text-shadow: 0 0 2vw rgb(82, 81, 81);
                }
            }
        }
    }
}

///synth param container
#synthWrap {
    position: relative;
    margin: 2vw auto 0;
    padding: 1.7vw 0;
    width: $synthWidth;
    border: $keyBorder;
    border-radius: .9em .9em 0 0;
    #brand{
        position: absolute;
        top: 3%;
        left: 3%;
        margin: 0;
        font-family: 'Exo', Helvetica, sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 1.8em;
        letter-spacing: .2em;
        transform: skewX(170deg);
        background: linear-gradient(270deg, rgb(126, 126, 145), gold);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    > div {
        display: inline-block;
        margin: .3vw;
        // border: .2vw solid white;
        padding: 1vw;
        h4 {
            margin: .8vw auto;
            padding-bottom: .2vw;
            text-align: center;
            letter-spacing: .1vw;
            border-bottom: .1vw solid white;
        }
    }
    label {
    display: inline-block;
    text-align: center;
    width: $rangeLabel;
    }
    #oscType {
        text-align: right;
        label {
            display: inline-block;
            text-align: left;
            width: initial;
        }
    }
}


#keyMap {
    position: relative;
    font-size: 0;
    margin: 1em auto;
    padding-bottom: .1vw;
    width: $synthWidth;
    height: 20vw;
    border-top: $keyBorder;
    border-right: $keyBorder;
    border-left: $keyBorder;
    div {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 8.74%;
        height: 100%;
        background: white;
        border: .1vw solid black;
        border-radius: 0 0 1.3vw 1.3vw;
        span {
            display: inline-block; 
            font-size: 3vw;
            color: gold;
            text-shadow: 0 0 .1vw rgb(0, 0, 56),0 0 .2vw rgb(0, 0, 56);
            margin: 4.5em auto 0 auto;
            width: 100%;
            text-align: center;
            z-index: 18;
        }
        .offNote {
            margin: 3em auto 0 auto;
            font-size: 2.4vw;
        }
    }
    .flat {
        z-index: 2;
        position: absolute;
        margin-left: -1.3vw;
        width: 2.4vw;
        height: 12vw;
        background: black;
    }
    .keyFill {
        background: linear-gradient(45deg, goldenrod,rgb(138, 171, 214)) !important;
    }
    .keyFillFlat {
        background: linear-gradient(76deg,rgb(90, 37, 43) 42%, rgb(107, 206, 194)) !important;
    }
}

#keyCheck {
    margin: 1em auto;
    width: 20%;
    sup {
        font-size: .2em;
        color: rgb(211, 255, 124);
        margin: 0 .4vw;
    }
}

#userTools {
    margin: 2em auto;
    width: 30%;
    #patchData {
        margin: 1em auto;
    }
}


////preset patches (radio buttons)
#patchWrap {
    margin: 2em auto;
    padding: 1em;
    width: 30%;
    border: .4vw groove oldlace;
    text-align: center;
    h3 {
        display: block;
        width: 40%;
        padding-bottom: .4vw;
        letter-spacing: .2vw;
        border-bottom: .1vw solid white;
    }
}


#patchBtns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 1.3vw auto;
}
