<div id="ampView">
    <main>
        <h1>Amplitude Envelope Generator</h1>
        <p>where the oscillator sets sail</p>
        <div id="eduAmpEG">
            <input type="range" orient="vertical" id="aAttack" min="0" max="1" step="0.01" value=".4"> 
            <input type="range" orient="vertical" id="aDecay" min="0" max="1" step="0.01" value=".8"> 
            <input type="range" orient="vertical" id="aSustain" min="0" max="1" step="0.01" value=".6"> 
            <input type="range" orient="vertical" id="aRelease" min="0" max="1" step="0.01" value=".1"> 
            <div>
            <label for="aAttack">A</label>
            <label for="aDecay">D</label>
            <label for="aAttack">S</label>
            <label for="aRelease">R</label>
            </div>
        </div>
        <div id="ampDetail"></div>
    </main>
    <aside>
        <div id="ampChart">
            <canvas id="ampADSR"></canvas>
        </div>
        <div class="spacebarEvent">
            <p>press spacebar to play oscillator</p>
        </div>
    </aside>
    <div class="continueSection">
        <span id="pickAmp">continue with selected parameters</span>
    </div>
</div>
<span class="closeChip">&times;</span>