<div class="patchModal">
    <div class="modalContent">
        <h3>Are you sure you want to delete patch....</h3>
        <h2 patch_id="{{patchID}}"><span id="toDelete">{{patchName}}</span>?</h2>
        <a id="deletePatch" class="patchFeat">Delete Patch</a>
    </div>
    <span class="closeChip">&times;</span>
</div>