<button id="logout">Logout</button>
<div id="dropdown">
    <span id="userPatches">patches</span>
    <div id="patchDrop">
        <ul>
            {{#each userPatches}}
                <li><span class="patchSelect" id="{{@key}}">{{patch_name}}</span> <span class="deleteChip">&times;</span></li>
            {{/each}}
        </ul>
    </div>
</div>