<button id="logout">Logout</button>
<span>patches</span>
<div id="patchDrop">
    <ul>
        {{#each userPatches}}
            <li id="{{@key}}"><span>{{patch_name}}</span> <span class="deleteChip">&times;</span></li>
        {{/each}}
    </ul>
</div>