<div><a id="logout">Logout</a></div>
<div id="dropdown">
    <a id="userPatches">Patches</a>
    <div id="patchDrop">
            {{#each userPatches}}
                <div class="patchSelect"><a id="{{@key}}">{{patch_name}}</a> <span class="deleteChip">&times;</span></div>
            {{/each}}
    </div>
</div>
<div id="startBuild"><a>Start SynthBuilder</a></div>