<div id="logout">Logout</div>
<div id="dropdown">
    <span id="userPatches">patches</span>
    <div id="patchDrop">
            {{#each userPatches}}
                <div class="patchSelect"><a id="{{@key}}">{{patch_name}}</a> <span class="deleteChip">&times;</span></div>
            {{/each}}
    </div>
</div>
<div id="startBuild"><a>start synthbuilder</a></div>