{{#if sine}}
<h3 id="sineTitle">Sine Wave</h3>
<h4><span>Harmonic Content:</span> 1</h4>
<h5>(purest form of a soundwave)</h5>
<p><strong class="attention">Note:</strong> Filter modifications will have little to no affect on sine waves as they have no additive harmonics</p>
{{else if triangle}}
<h3 id="triangleTitle">Triangle Wave</h3>
<h4><span>Harmonic Content:</span> 25</h4>
<p>Great for soft, flute-like sounds</p>
{{else if square}}
<h3 id="squareTitle">Square Wave</h3>
<h4><span>Harmonic Content:</span> 25</h4>
<p>Ideal for hollow, eerie, woodwind-like sounds</p>
{{else if sawtooth}}
<h3 id="sawtoothTitle">Sawtooth Wave</h3>
<h4><span>Harmonic Content:</span> 50</h4>
<h5>(most complex structure of basic soundwaves)</h5>
<p>Goto for scifi pads, bowed string sounds, brass, &amp; general grittiness</p>
{{/if}}