<div id="eduWrap">
<div id="oscAlert"><h2>please select an oscillator</h2></div>
<div id="oscView">
    <main>
        <h1>Oscillator</h1>
        <p>the core of any synthesizer</p>
        <div id="oscDetail"></div>
    </main>
    <aside>
        <div wave="sine">
        <button id="startSine"><div></div></button>
        <div class="oscScope" id="sineAnimate"></div>
        </div>
        <div wave="triangle">
        <button id="startTriangle"><div></div></button>
        <div class="oscScope" id="triangleAnimate"></div>
        </div>
        <div wave="square">
        <button id="startSquare"><div></div></button>
        <div class="oscScope" id="squareAnimate"></div>
        </div>
        <div wave="sawtooth">
        <button id="startSawtooth"><div></div></button>
        <div class="oscScope" id="sawtoothAnimate"></div>
        </div>
    </aside>
    <div class="continueSection"><span id="pickOsc">continue with selected soundwave</span></div>
</div>
    <span class="closeChip">&times;</span>
</div>