<div id="registerContent">
    <h1>Welcome to SynthULX</h1>
    <h3>Synthesizer /// User Learning Experience</h3>
    <p><i>SynthBuilder</i> provides a step-by-step tutorial in setting parameters for common components available in modern synthesizers. After completion of the <i>SynthBuilder</i> tutorial, all settings will be loaded to the synthesizer for playing &amp; further experimentation.</p>
    <p>To save &amp; edit patches, please create an account or login <sub>Google</sub></p>
    <a id="promptLogin">Create Account // Login </a>
    <a id="promptGuest" class="closeChip">Continue as Guest</a>
</div>