<div id="registerContent">
    <h1>Welcome to SynthULX</h1>
    <h3>Synthesizer /// User Learning Experience</h3>
    <p>SynthULX provides a <i>SynthBuilder</i> feature, which guides users through a step-by-step tutorial in setting parameters for each component available in modern synthesizers.</p>
    <p>To save &amp; edit patches, please create an account or login</p>
    <button id="promptLogin">Create Account // Login</button>
    <button id="promptGuest" class="closeChip">Continue as Guest</button>
</div>