<div class="patchModal">
    <div class="modalContent">
        <h2>Save new patch as....</h2>
        <input type="text" id="newPatch">
        <a id="savePatch" class="patchFeat">Save Patch</a>
    </div>
    <span class="closeChip">&times;</span>
</div>